{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h1>Галерея фоточек настоящих мужиков</h1>
<div class="container text-center">
  <div class="row row-cols-5">
    <div class="col"><img src="static/giga_photo_base.jpg" width="200" height="250"></div>
    <div class="col"><img src="static/барби.jpg" width="200" height="250"></div>
    <div class="col"><img src="static/джонни джостар.jpg" width="200" height="250"></div>
     <div class="col"><img src="static/giggachad6.webp" width="200" height="250"></div>
    <div class="col"><img src="static/патрик4.jpg" width="200" height="250"></div>
    <div class="col"><img src="static/бегущий2.jpg" width="200" height="250"></div>
    <div class="col"><img src="static/gigachad4.jpg" width="200" height="250"></div>
    <div class="col"><img src="static/гослинг3.jpg" width="200" height="250"></div>
    <div class="col"><img src="static/джотаро.jpg" width="200" height="250"></div>
    <div class="col"><img src="static/giggachsd3.jpg" width="200" height="250"></div>
    <div class="col"><img src="static/бегущий4э.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/гослинг.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/бегущий.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/сосны3.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/патрик.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/кира.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/сосны2.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/гослинг2.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/auf.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/сосны.jpeg" width="200" height="140"></div>
    <div class="col"><img src="static/гослинг4.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/ливси2.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/патрик3.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/гослинг3.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/джонатан.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/патрик2.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/бегущий3.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/рокки2.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/ливси.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/рэмбо2.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/рокки.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/диего.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/рэмбо.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/скала.jpg" width="200" height="140"></div>
    <div class="col"><img src="static/гослинг5.jpg" width="200" height="140"></div>
  </div>
</div>

{% endblock %}