<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<meta charset="UTF-8">
<h1>Цитаты настоящих мужиков</h1>
<div class="alert alert-secondary" role="alert">
  "Да, я слышал об этом..."
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Твоя работа это не ты сам"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Первое правило бойцовского клуба - не упоминать о бойцовском клубе"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Можно кинуть камень в волка, но нельзя кинуть волка в камень"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Страшно. Зубочистка нужна?"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Аригато, Джайро"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Его имя - Роберт Полсон"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Яре Яре Дазе"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Панки, хой! Горшок живой!"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Способность путешествия между мирами подвласна одному лишь мне"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Да, без Б, не в смысле без базара, а в смысле без баб"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Извините дамы, меня ждут котлетки"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Say My Name"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Меня зовут Кира Йошикаге..."
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Когда в тебя стреляют, лучше всего не двигаться, ведь так в тебя сложнее попасть"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Брат волку брат, а волку брату волк, но волк волку брат, а брат брату волк"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  "Ты когда-нибудь дрался? Врежь мне по лицу! Давай!"
</div>
<br>
<br>
<div class="alert alert-secondary" role="alert">
  -Так почему меня принимают за тебя?
</div>
<div class="alert alert-secondary" role="alert">
  -А ты не знаешь.
</div>
<div class="alert alert-secondary" role="alert">
  -Нет, не знаю.
</div>
<div class="alert alert-secondary" role="alert">
  -Нет, знаешь, почему все вокруг путают нас с тобой?
</div>
<div class="alert alert-secondary" role="alert">
  -Мы один человек?
</div>

{% endblock %}