{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<h1>Истенные гигачады:</h1>
<br>
<br>
<h4>Эрнест Халимов <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Никита Сергеевич <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Гордей Андреев <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Юрий Коржевский <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Егор Петров <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Rayan Gosling <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Patric Bateman <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Mr. White <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Mr. Bebra <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Кира Йошикаге <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Джонни Джостар <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Платон Волосодыбович <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Олег Литус <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Демид Михайлов <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Артём Петров <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Паровозик, который смог <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Рокки Бальбоа <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Джон Рэмбо <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Артур Морган <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Евпатий Коловрат <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Каменщик <span class="badge bg-danger">GIGA</span></h4>
<br>
<h4>Гонщик Нелегальный <span class="badge bg-danger">GIGA</span></h4>

{% endblock %}